.spacer {
  flex-grow: 1;
}

.mdc-icon-button {
  color: var(--mat-sys-on-primary);
}

.sidenav-container {
  z-index: 9999;
}

.link.active::before {
  background-color: var(--mat-sys-primary);
  opacity: .12;
}
