<p>home works!</p>

<div class="flex column gap--3">

  <button matButton>Button</button>
  <button matButton class="accent">Accent</button>
  <button matButton class="warn">Warn</button>

  <button matButton="filled">Button</button>
  <button matButton="filled" class="accent">Accent</button>
  <button matButton="filled" class="warn">Warn</button>

  <div class="flex gap--3">
    <button matIconButton>
      <mat-icon>more_vert</mat-icon>
    </button>
    <button matMiniFab>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>

</div>
